
.button-53 {
  padding: 15px 25px;
    border-radius: var(--border-radius);
    background-image: linear-gradient(
        to right,
        var(--main-color),
        var(--second-color)
    );
    color: var(--txt-white);
    font-size: 20px;
    font-weight: bold;
}

.upload__image-wrapper {
    padding: 20px;
}
